@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    src: local("Mulish1"), url("/fonts/mulish-v12-latin-regular.woff2") format("woff2"), url("/fonts/mulish-v12-latin-regular.woff") format("woff"), url("/fonts/mulish-v12-latin-regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    src: local("Mulish1"), url("/fonts/mulish-v12-latin-600.woff2") format("woff2"), url("/fonts/mulish-v12-latin-600.woff") format("woff"), url("/fonts/mulish-v12-latin-700.ttf") format("truetype");
}

@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    src: local("Mulish1"), url("/fonts/mulish-v12-latin-800.woff2") format("woff2"), url("/fonts/mulish-v12-latin-800.woff") format("woff"), url("/fonts/mulish-v12-latin-800.ttf") format("truetype");
}

*{
    font-family: Mulish, system-ui, sans-serif
}